.nav {
  z-index: 10;
  position: relative;

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;

    .burger-btn {
      display: none;
      position: absolute;
      width: 40px;
      height: 40px;
      top: 40px;
      right: 40px;

      background-color: aqua;

      .burger-lines {
        position: absolute;
        top: 20px;
        height: 2px;
        width: 40px;
        background-color: black;

        &::before {
          position: absolute;
          content: "";
          top: -20px;
          background-color: inherit;
          height: 2px;
          width: 40px;
        }

        &::after {
          position: absolute;
          content: "";
          top: 20px;
          background-color: inherit;
          height: 2px;
          width: 40px;
        }
      }
    }

    .nav-list {
      display: flex;
      align-items: center;
      margin: 0px;

      .nav-item {
        margin-left: 20px;
      }
    }

    @media only screen and (max-width: 800px) {
      justify-content: center;
      align-items: center;

      .nav-list {
        display: none;
      }

      .burger-btn {
        width: 50px;
        height: 50px;
        background-color: blueviolet;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

.open {
  display: flex !important;
  flex-direction: column;
  background-color: aqua;
}
